@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

//* * * * * N A V    B A R  * * * * * 

button {
  background: none;
  border: none;
}

.navbar {
  font-family: 'Gochi Hand', cursive;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-content: center;
  }

.logo-home {
  height: 100%;
  width: 100%;
}

.homeIcon {
  margin-left: 10px;
  width: 7%;
  }

  .navbar-toggler {
    border: none;
    margin-right: 10px;
  }
  
  .nav-link {
    margin-right: 5px;
    margin-left: 10px;
  }


//* * * * * H O M E * * * * * 

.hp-logo {
  height: 40%;
  width: 40%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.home-subtitle {
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 150px;
}

.project-text {
  font-family: 'Gochi Hand', cursive;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  }



//* * * * * A B O U T   U S * * * * * 
.aboutus-bg { 
  padding: 20px;
  margin-top: 0px;
  }
  
  .aboutus-text{
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  }
  
  .aboutus-img { 
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  }
  
  .modal-img {
  align-content: center;
  }



//* * * * * R E G I S T R A T I O N  * * * * * 

.alt-login {
  font-family: 'Gochi Hand', cursive;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: smaller;
  }

  .label {
  font-family: 'Gochi Hand', cursive;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-items: center;
  }

  .control {
  font-size: 11px;
  }

  .section.registration {
align-self: center;
  margin: 20px;
  }
  
  .section.login {
  margin: 20px;
  }
  
  .input {
  width: 300px;
  }
  
form {
  justify-content: center;
  align-self: center;
}

  .card.mb-5 {
    border-style: none;
  }

  .card-img-top {
    margin-top: 10px;
  }

//* * * * * L O G  I N  * * * * *

//* * * * * COUNTRIES  * * * * *

.header-splash {
  height: 25vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('https://res.cloudinary.com/team-mad/image/upload/v1641486472/placebook-country-images/ATA_tta90o.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
  }
}

.country-search {
  display: flex;
  justify-content: flex-end;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    max-width: 100%;
    max-height: 100% ;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.card-title {
  text-align: center;
}

//* * * * * SINGLE COUNTRY  * * * * * 
.header-splash-single {
  height: 20vh;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

//* * * * * MEMORY SHOW  * * * * *

.memory-image-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//* * * * * L O G  I N  * * * * * 



//* * * * * P R O F I L E  * * * * * 

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

// body {
//     background: #654ea3;
//     background: linear-gradient(to right, #e96443, #904e95);
//     min-height: 100vh;
//     overflow-x: hidden
// }


//* * * * * P R O F I L E  E D I T * * * * * 

.section.profileEdit {
  align-self: center;
    margin: 20px;
    }

    .input {
      width: 300px;
      }

//* * * * * M E M O R Y  E D I T * * * * * 

.memory-edit-image {
  object-fit: contain;
  max-width: 100%;
  height: 200px;
}