@import "~bootstrap/scss/bootstrap";



//* * * * * N A V    B A R  * * * * * 
.logo-home {
  height: 90px;
  width: 75px;
}


//* * * * * H O M E * * * * * 



//* * * * * A B O U T   U S * * * * * 



//* * * * * R E G I S T R A T I O N  * * * * * 

.alt-login {
  text-align: center;
  font-size: smaller;
  }
  
  .section.registration {
  margin: 20px;
  }
  
  .section.login {
  margin: 20px;
  }
  
  .input {
  width: 300px;
  }
  
  .card.mb-5 {
    border-style: none;
  }


//* * * * * L O G  I N  * * * * * 